In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/movies_dataset.csv')

In [3]:
df.head()

,MovieID,Title,Genre,ReleaseYear,ReleaseDate,Country,BudgetUSD,US_BoxOfficeUSD,Global_BoxOfficeUSD,Opening_Day_SalesUSD,One_Week_SalesUSD,IMDbRating,RottenTomatoesScore,NumVotesIMDb,NumVotesRT,Director,LeadActor
0,1,Might toward capital,Comedy,2003,28-09-2003,China,6577427.79,6613685.82,15472035.66,1778530.85,3034053.32,6.2,58,7865,10596,Kristina Moore,Brian Mccormick
1,2,He however experience,Comedy,1988,14-02-1988,USA,1883810.10,1930949.15,3637731.12,247115.74,831828.84,5.2,44,1708,220,Benjamin Hudson,Ashley Pena
2,3,Star responsibility politics,Comedy,1971,02-11-1971,USA,2468079.29,4186694.69,7165111.24,878453.95,2171405.93,5.5,55,4678,7805,Kayla Young,Alexander Haley
3,4,Exactly live,Comedy,1998,06-08-1998,USA,1447311.46,2023683.92,4373820.26,570657.72,898886.01,7.3,87,2467,1751,Michael Ross,Patrick Barnett
4,5,Focus improve especially,Documentary,2021,17-12-2021,India,900915.86,2129629.10,3113017.38,361189.37,861775.91,6.1,67,5555,697,Faith Franklin,Duane Fletcher DDS

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  object
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
dtypes: float64(6), int64(5), object(6)
memory usage: 129.7+ MB

In [6]:
df['ReleaseDate'] = pd.to_datetime(df['ReleaseDate'])

/tmp/ipython-input-788574948.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['ReleaseDate'] = pd.to_datetime(df['ReleaseDate'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  datetime64[ns]
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(5)
memory usage: 129.7+ MB

In [9]:
df['RottenTomatoesScore'] = pd.to_numeric(df['RottenTomatoesScore'], errors='coerce')
df['IMDbRating'] = pd.to_numeric(df['IMDbRating'], errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  datetime64[ns]
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(5)
memory usage: 129.7+ MB

In [11]:
df['ProfitUSD'] = df['Global_BoxOfficeUSD'] - df['BudgetUSD']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  datetime64[ns]
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
 17  ProfitUSD             999999 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(5)
memory usage: 137.3+ MB

In [13]:
df.head()

,MovieID,Title,Genre,ReleaseYear,ReleaseDate,Country,BudgetUSD,US_BoxOfficeUSD,Global_BoxOfficeUSD,Opening_Day_SalesUSD,One_Week_SalesUSD,IMDbRating,RottenTomatoesScore,NumVotesIMDb,NumVotesRT,Director,LeadActor,ProfitUSD
0,1,Might toward capital,Comedy,2003,2003-09-28,China,6577427.79,6613685.82,15472035.66,1778530.85,3034053.32,6.2,58,7865,10596,Kristina Moore,Brian Mccormick,8894607.87
1,2,He however experience,Comedy,1988,1988-02-14,USA,1883810.10,1930949.15,3637731.12,247115.74,831828.84,5.2,44,1708,220,Benjamin Hudson,Ashley Pena,1753921.02
2,3,Star responsibility politics,Comedy,1971,1971-11-02,USA,2468079.29,4186694.69,7165111.24,878453.95,2171405.93,5.5,55,4678,7805,Kayla Young,Alexander Haley,4697031.95
3,4,Exactly live,Comedy,1998,1998-08-06,USA,1447311.46,2023683.92,4373820.26,570657.72,898886.01,7.3,87,2467,1751,Michael Ross,Patrick Barnett,2926508.80
4,5,Focus improve especially,Documentary,2021,2021-12-17,India,900915.86,2129629.10,3113017.38,361189.37,861775.91,6.1,67,5555,697,Faith Franklin,Duane Fletcher DDS,2212101.52

In [14]:
df[['BudgetUSD', 'US_BoxOfficeUSD', 'Global_BoxOfficeUSD', 'Opening_Day_SalesUSD', 'One_Week_SalesUSD',
    'RottenTomatoesScore', 'IMDbRating', 'NumVotesIMDb', 'NumVotesRT']] = df[['BudgetUSD', 'US_BoxOfficeUSD',
    'Global_BoxOfficeUSD', 'Opening_Day_SalesUSD', 'One_Week_SalesUSD', 'RottenTomatoesScore', 'IMDbRating',
    'NumVotesIMDb', 'NumVotesRT']].fillna(0)

In [15]:
df['Dekade'] = (df['ReleaseYear'] // 10 * 10).astype(str) + 's'

In [16]:
print("\n--- Data Setelah Pembersihan & Transformasi (5 baris pertama) ---")
print(df.head())

--- Data Setelah Pembersihan & Transformasi (5 baris pertama) ---
   MovieID                         Title        Genre  ReleaseYear  \
0        1          Might toward capital       Comedy         2003
1        2         He however experience       Comedy         1988
2        3  Star responsibility politics       Comedy         1971
3        4                  Exactly live       Comedy         1998
4        5      Focus improve especially  Documentary         2021

  ReleaseDate Country   BudgetUSD  US_BoxOfficeUSD  Global_BoxOfficeUSD  \
0  2003-09-28   China  6577427.79       6613685.82          15472035.66
1  1988-02-14     USA  1883810.10       1930949.15           3637731.12
2  1971-11-02     USA  2468079.29       4186694.69           7165111.24
3  1998-08-06     USA  1447311.46       2023683.92           4373820.26
4  2021-12-17   India   900915.86       2129629.10           3113017.38

   Opening_Day_SalesUSD  One_Week_SalesUSD  IMDbRating  RottenTomatoesScore  \
0            1778530.85         3034053.32         6.2                   58
1             247115.74          831828.84         5.2                   44
2             878453.95         2171405.93         5.5                   55
3             570657.72          898886.01         7.3                   87
4             361189.37          861775.91         6.1                   67

   NumVotesIMDb  NumVotesRT         Director           LeadActor   ProfitUSD  \
0          7865       10596   Kristina Moore     Brian Mccormick  8894607.87
1          1708         220  Benjamin Hudson         Ashley Pena  1753921.02
2          4678        7805      Kayla Young     Alexander Haley  4697031.95
3          2467        1751     Michael Ross     Patrick Barnett  2926508.80
4          5555         697   Faith Franklin  Duane Fletcher DDS  2212101.52

  Dekade
0  2000s
1  1980s
2  1970s
3  1990s
4  2020s

In [17]:
# 1. Analisis Performa per Genre
print("\n--- Analisis Performa Rata-Rata per Genre ---")
genre_performance = df.groupby('Genre').agg(
    Avg_Profit_USD=('ProfitUSD', 'mean'),
    Avg_IMDb_Rating=('IMDbRating', 'mean'),
    Avg_Budget_USD=('BudgetUSD', 'mean'),
    Total_Movies=('MovieID', 'count')
).sort_values('Avg_Profit_USD', ascending=False)
print(genre_performance)

--- Analisis Performa Rata-Rata per Genre ---
             Avg_Profit_USD  Avg_IMDb_Rating  Avg_Budget_USD  Total_Movies
Genre
Documentary    1.765067e+07         6.500856    9.931104e+06         50114
Horror         1.760131e+07         6.499671    9.879427e+06        100010
Thriller       1.754682e+07         6.495319    9.887535e+06        100071
Romance        1.743894e+07         6.491912    9.844204e+06        100021
Comedy         1.739341e+07         6.499408    9.826522e+06        199832
Drama          1.735826e+07         6.487393    9.794142e+06        250018
Action         1.722812e+07         6.495995    9.615741e+06        150131
Sci-Fi         1.719329e+07         6.498530    9.779042e+06         49802

In [18]:
# 2. Analisis Tren Tahunan
print("\n--- Analisis Tren Tahunan ---")
yearly_trends = df.groupby('ReleaseYear').agg(
    Avg_Global_BoxOffice=('Global_BoxOfficeUSD', 'mean'),
    Avg_Budget_USD=('BudgetUSD', 'mean'),
    Avg_IMDb_Rating=('IMDbRating', 'mean')
)
print(yearly_trends.head())

--- Analisis Tren Tahunan ---
             Avg_Global_BoxOffice  Avg_Budget_USD  Avg_IMDb_Rating
ReleaseYear
1950                 2.961883e+07    1.096492e+07         6.440831
1951                 2.772575e+07    9.993369e+06         6.545465
1952                 2.632153e+07    9.321035e+06         6.479392
1953                 2.665446e+07    9.377751e+06         6.485410
1954                 3.022208e+07    1.054117e+07         6.477889

In [19]:
# 3. Analisis Korelasi Rating
print("\n--- Korelasi Antara Rating IMDb dan Rotten Tomatoes ---")
correlation_rating = df[['IMDbRating', 'RottenTomatoesScore']].corr()
print(correlation_rating)

--- Korelasi Antara Rating IMDb dan Rotten Tomatoes ---
                     IMDbRating  RottenTomatoesScore
IMDbRating             1.000000             0.829186
RottenTomatoesScore    0.829186             1.000000

In [20]:
# 4. Analisis Berdasarkan Dekade
print("\n--- Analisis Berdasarkan Dekade ---")
decade_summary = df.groupby('Dekade').agg(
    Avg_Profit_USD=('ProfitUSD', 'mean'),
    Avg_IMDb_Rating=('IMDbRating', 'mean'),
    Total_Movies=('MovieID', 'count')
)
print(decade_summary)

--- Analisis Berdasarkan Dekade ---
        Avg_Profit_USD  Avg_IMDb_Rating  Total_Movies
Dekade
1950s     1.793003e+07         6.494412         36811
1960s     1.747477e+07         6.489206         65730
1970s     1.730953e+07         6.491955         94142
1980s     1.738133e+07         6.499545        122806
1990s     1.725941e+07         6.488883        151655
2000s     1.752219e+07         6.495515        180198
2010s     1.721921e+07         6.494572        209655
2020s     1.759438e+07         6.501069        139002

In [21]:
# 5. Analisis Aktor Teratas (Berdasarkan Total Pendapatan)
print("\n--- 10 Aktor Teratas Berdasarkan Total Pendapatan ---")
top_10_actors = df.groupby('LeadActor').agg(
    Total_BoxOffice_USD=('Global_BoxOfficeUSD', 'sum')
).sort_values('Total_BoxOffice_USD', ascending=False).head(10)
print(top_10_actors)

--- 10 Aktor Teratas Berdasarkan Total Pendapatan ---
                    Total_BoxOffice_USD
LeadActor
Jeffrey Smith              1.850128e+11
Eric Obrien                1.055159e+11
Nathan Nelson              1.042309e+11
Sheila Dunn                1.018028e+11
Jennifer Hendricks         1.004769e+11
Lawrence Thomas            1.003635e+11
Russell Martin             1.002358e+11
Kristy Faulkner            1.001116e+11
Ashley Juarez              1.000168e+11
Patricia Ramirez           9.945189e+10

In [22]:
# 6. Analisis Sutradara Teratas (Berdasarkan Total Pendapatan)
print("\n--- 10 Sutradara Teratas Berdasarkan Total Pendapatan ---")
top_10_directors = df.groupby('Director').agg(
    Total_BoxOffice_USD=('Global_BoxOfficeUSD', 'sum')
).sort_values('Total_BoxOffice_USD', ascending=False).head(10)
print(top_10_directors)

--- 10 Sutradara Teratas Berdasarkan Total Pendapatan ---
                 Total_BoxOffice_USD
Director
Judy Walker             1.947404e+11
Albert Phillips         1.944761e+11
Emily Miller            1.931264e+11
William Walker          1.923785e+11
Brooke Morales          1.919354e+11
Diane Skinner           1.917660e+11
Sharon Wilson           1.912788e+11
Jonathan Evans          1.910998e+11
Adam Brown              1.908614e+11
Kim Watkins             1.905668e+11

In [23]:
# Simpan DataFrame yang sudah diolah ke file CSV baru
output_file_name = 'cleaned_movie_data_for_looker.csv'
df.to_csv(output_file_name, index=False)

print(f"\n--- Data yang Diolah Telah Disimpan ---")
print(f"File '{output_file_name}' sudah dibuat dan siap diunduh.")

--- Data yang Diolah Telah Disimpan ---
File 'cleaned_movie_data_for_looker.csv' sudah dibuat dan siap diunduh.

In [26]:
df.head()

,MovieID,Title,Genre,ReleaseYear,ReleaseDate,Country,BudgetUSD,US_BoxOfficeUSD,Global_BoxOfficeUSD,Opening_Day_SalesUSD,One_Week_SalesUSD,IMDbRating,RottenTomatoesScore,NumVotesIMDb,NumVotesRT,Director,LeadActor,ProfitUSD,Dekade
0,1,Might toward capital,Comedy,2003,2003-09-28,China,6577427.79,6613685.82,15472035.66,1778530.85,3034053.32,6.2,58,7865,10596,Kristina Moore,Brian Mccormick,8894607.87,2000s
1,2,He however experience,Comedy,1988,1988-02-14,USA,1883810.10,1930949.15,3637731.12,247115.74,831828.84,5.2,44,1708,220,Benjamin Hudson,Ashley Pena,1753921.02,1980s
2,3,Star responsibility politics,Comedy,1971,1971-11-02,USA,2468079.29,4186694.69,7165111.24,878453.95,2171405.93,5.5,55,4678,7805,Kayla Young,Alexander Haley,4697031.95,1970s
3,4,Exactly live,Comedy,1998,1998-08-06,USA,1447311.46,2023683.92,4373820.26,570657.72,898886.01,7.3,87,2467,1751,Michael Ross,Patrick Barnett,2926508.80,1990s
4,5,Focus improve especially,Documentary,2021,2021-12-17,India,900915.86,2129629.10,3113017.38,361189.37,861775.91,6.1,67,5555,697,Faith Franklin,Duane Fletcher DDS,2212101.52,2020s